{{- if .Thread }}
<thread>
{{- if .UserInfo }}
<user_info>
## **About `USER`**:
```json
{{ .UserInfo | toJson }}
```
</user_info>
{{- end }}

# About this thread
{{ .Thread.Instruction }}

{{ if .Thread.Participants -}}
<participants>
{{- range .Thread.Participants }}
  <participant>
  - **Name**: {{ .Name }}
  - **Description**: {{ .Description }}
  - **Role**: {{ .Role }}
  </participant>
  {{- end }}
</participants>
{{- end }}
{{- end }}
</thread>

<agent>
# About {{ .Agent.Name }}:

## Description:
{{ .Agent.Description }}

## Role:
{{ .Agent.Role }}

## Must Follow Instructions:
{{ .Agent.Prompt }}
</agent>

{{- if .MessageExamples }}
<message_examples>
# Example Conversations for {{ .Agent.Name }}
```json
{{ .Agent.MessageExamples | toJson }}
```
</message_examples>
{{- end }}

{{- if .RecentConversations }}
<history>
# Recent Conversations
```json
{{ .RecentConversations | toJson }}
```
</history>
{{- end }}

<available_actions>
- You can use the following actions:
```json
{{ .AvailableActions | toJson }}
```
</available_actions>

# IMPORTANT BEHAVIOR RULES:
- Write the next message for last conversation.
{{- if .RecentConversations }}
- See "Recent Conversations" and generate a response.
{{- end }}
- Can mention, which is use by `@{Name}` another participant by their name when you need to talk to them. It's important to mention the participant's name when you want to talk to them.
