{{- if .Thread }}
# About this thread
{{ .Thread.Instruction }}
{{- if .Thread.Participants }}

## Participants
{{- range .Thread.Participants }}
- {{ .Name }}:
  - Name: {{ .Name }}
  - Role: {{ .Role }}
{{- end }}
{{- end }}
{{- end }}

{{- if .Knowledge }}
# Knowledge
{{- range .Knowledge }}
- {{ . }}
{{- end }}
{{- end }}

# Task: Generate dialog and actions for the character {{ .Agent.Name }}.
About {{ .Agent.Name }}:
{{- range .Agent.Bio }}
- {{ . }}
{{- end }}
{{- range .Agent.Lore }}
- {{ . }}
{{- end }}

# Example Conversations for {{ .Agent.Name }}
```json
{{ .Agent.MessageExamples | toJson }}
```

{{- if .RecentConversations }}
# Recent Conversations
```json
{{ .RecentConversations | toJson }}
```
{{- end }}

# Available Actions
```json
{{ .AvailableActions | toJson }}
```

# Instructions
- Write the next message for {{ .Agent.Name }}.
{{- if .RecentConversations }}
- See recent conversations. And generate a response.
{{- end }}